
[submodule "vendor/raylib"]
	path = vendor/raylib
	url = https://github.com/raysan5/raylib
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/mailio"]
	path = vendor/mailio
	url = https://github.com/karastojko/mailio.git
[submodule "raygui"]
	path = raygui
	url = https://github.com/raysan5/raygui
[submodule "vendor/raygui"]
	path = vendor/raygui
	url = https://github.com/raysan5/raygui
